# Hardware (zostawiamy jak było)
Hardware/
dodatki/

# === Android ===
Andro/.gradle/
Andro/.idea/
Andro/build/
Andro/app/build/
Andro/local.properties
Andro/*.iml
Andro/.DS_Store
Andro/captures/
Andro/.externalNativeBuild/
Andro/.cxx/
Andro/*.apk
Andro/*.ap_
Andro/*.aab
Andro/app/.gradle/
Andro/app/.idea/
Andro/app/build/


# === PlatformIO / ESP ===
ESP/.pio/
ESP/.vscode/
ESP/.DS_Store

# Ogólne
*.log
*.tmp
.DS_Store
Thumbs.db
